/* Structure */
.container {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  height: 620px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/* -------------------------------------------------- */

.component-wrapper {
  display: block;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  margin: 5px;
}

.component-top {
  position: relative;
  height: 60px;
}

.tools-area {
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

/* .mat-form-field {
  font-size: 14px;
  width: 40%;
  padding-left: 10px;
  padding-top: 10px;
} */

.table-wrapper {
  display: block;
  padding: 5px;
}

/* -------------------------------------------------- */

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 120px;
  border: 3px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-name {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
}

.element-isin {
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 4px;
}

.isin-label {
  font-style: italic;
}

.element-exchange {
  font-size: 10px;
  font-weight: bolder;
  font-style: italic;
}

.element-ticker {
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
}

/* expanded view - start */
.element-data-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  width:100%
}

.element-data {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
}

.time-close-manager, .open-high-low, .vol-vwap-cap, .adtv-aadtv {
  /* border: black solid 1px; */
  font-size: 10px;
  font-weight: bolder;
  color: #5b636a;
}

.vl {
  border-left: 1px #5b636a dashed;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.time-close-manager td:first-child, .open-high-low td:first-child, .vol-vwap-cap td:first-child, .adtv-aadtv td:first-child {
  padding: 5px;
  padding-right: 20px;
  text-align: left;
}

.time-close-manager td + td, .open-high-low td + td, .vol-vwap-cap td + td, .adtv-aadtv td + td {
  text-align: right;
  color: black !important;
}

.time-close-manager td {
  text-align: left !important;
  color: black;
  padding: 0 !important;
}

/* adtv-aadtv table - start */
.adtv-aadtv table {
  border-collapse: collapse;
}

.adtv-aadtv td {
  padding: 6px;
  border-right: black solid 1px; 
}

.adtv-aadtv td + td {
  text-align: center;
}

.adtv-aadtv tr {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

.adtv-aadtv tr:last-of-type {
  border: 0;
}

.adtv-aadtv td:last-of-type {
  border: 0;
}

.adtv-aadtv thead td {
  color: #5b636a !important;
}
/* adtv-aadtv table - end */
/* expanded view - end */

.viewChartsButton {
  width: 70px;
  height: 70px;
}

.icon-text {
  display:flex;
  flex-direction:row;
  justify-content:center;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

/* -------------------------------------------------- */

.mat-cell {
  font-size: 11px;
}

.symbol {
  color: darkslateblue;
  font-size: 13px;
  font-weight: bolder;
}

.exchange {
  color: #5b636a;
}

/* -------------------------------------------------- */
