<div class="component-wrapper">
  <div class="component-top">
    <!-- <mat-form-field>
      <mat-label>Filter for Symbols or Companies</mat-label>
      <input matInput (keyup)="applyFilter($event);" placeholder="Ex. iro" autocomplete="off" #input>
    </mat-form-field> -->
    <div class="tools-area">
      <!-- <button mat-stroked-button color="primary" aria-label="Filter button" style="margin-right: 2px;" matTooltip="Filter" matBadge="1" matBadgePosition="before" matBadgeColor="primary" [matBadgeHidden]="hiddenMktCapFilterBadge" (click)="openFilterDialog()">
        <span class="material-icons-round">filter_list</span>
      </button> -->
      <button mat-stroked-button class="csv-all" color="primary" (click)="export_csv();" matTooltip="Download (.csv)">
        <span class="material-icons-round">download</span>
      </button>
    </div>
  </div>


  <div class="table-wrapper">
    <div class="container mat-elevation-z8">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="filteredAndPagedCompanies" multiTemplateDataRows class="table" matSort
              matSortActive="" matSortDisableClear matSortDirection="desc"
              (matSortChange)="resetPaging()">

          <!-- Symbol Column -->
          <ng-container matColumnDef="company_ticker">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let row" class="symbol">{{row.company_ticker}}</td>
          </ng-container>

          <!-- Company Column -->
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef>Company</th>
            <td mat-cell *matCellDef="let row">{{row.company_name}}</td>
          </ng-container>

          <!-- % Change Column -->
          <ng-container matColumnDef="change_percent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>% Change</th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.change_percent >= 0 ? 'green' : 'red'}">{{row.change_percent}}%</td>
          </ng-container>

          <!-- Mkt Cap Column -->
          <ng-container matColumnDef="market_cap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Mkt Cap</th>
            <td mat-cell *matCellDef="let row">{{row.market_cap | currency:(row.currency | uppercase):'symbol':'4.0-0'}}</td>
          </ng-container>

          <!-- ADTV5 Column -->
          <ng-container matColumnDef="adtv5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ADTV5</th>
            <td mat-cell *matCellDef="let row">{{row.adtv5 | currency:(row.currency | uppercase):'symbol':'4.0-0'}}</td>
          </ng-container>

          <!-- ADTV10 Column -->
          <ng-container matColumnDef="adtv10">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ADTV10</th>
            <td mat-cell *matCellDef="let row">{{row.adtv10 | currency:(row.currency | uppercase):'symbol':'4.0-0'}}</td>
          </ng-container>

          <!-- ADTV20 Column -->
          <ng-container matColumnDef="adtv20">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ADTV20</th>
            <td mat-cell *matCellDef="let row">{{row.adtv20 | currency:(row.currency | uppercase):'symbol':'4.0-0'}}</td>
          </ng-container>

          <!-- ADTV60 Column -->
          <ng-container matColumnDef="adtv60">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ADTV60</th>
            <td mat-cell *matCellDef="let row">{{row.adtv60 | currency:(row.currency | uppercase):'symbol':'4.0-0'}}</td>
          </ng-container>

          <!-- Industry Column -->
          <ng-container matColumnDef="industry">
            <th mat-header-cell *matHeaderCellDef>Industry</th>
            <td mat-cell *matCellDef="let row">{{row.industry}}</td>
          </ng-container>

          <!-- Exchange Column -->
          <ng-container matColumnDef="exchange">
            <th mat-header-cell *matHeaderCellDef>Exchange</th>
            <td mat-cell *matCellDef="let row" class="exchange">{{row.exchange}}</td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-diagram">
                  <div class="element-name"> {{element.company_name}} </div>
                  <div class="element-ticker"> {{element.company_ticker}} </div>
                  <div class="element-isin"> 
                    <span class="isin-label">ISIN: </span> {{element.isin || 'N/A'}} 
                  </div>
                  <div class="element-exchange"> {{element.exchange}} </div>
                </div>

                <div class="element-data-wrapper">
                  <div class=element-data>
                    <div class="vl"></div>

                    <div class="time-close-manager">
                      <table>
                        <tr>
                          <td>{{element.market_date | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                          <td>{{element.am_uid}}</td>
                        </tr>
                      </table>
                    </div>

                    <div class="vl"></div>

                    <div class="open-high-low">
                      <table>
                        <tr>
                          <td>Open</td>
                          <td>{{element.open | currency:element.currency}}</td>
                        </tr>
                        <tr>
                          <td>High</td>
                          <td>{{element.high | currency:element.currency}}</td>
                        </tr>
                        <tr>
                          <td>Low</td>
                          <td>{{element.low | currency:element.currency}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="vl"></div>
                    <div class="vol-vwap-cap">
                      <table>
                        <tr>
                          <td>Vol</td>
                          <td>{{element.volume | number: '1.0-0'}}</td>
                        </tr>
                        <tr>
                          <td>VWAP</td>
                          <td>{{(element.vwap | currency:element.currency) || 'N/A'}}</td>
                        </tr>
                        <tr>
                          <td>Mkt Cap</td>
                          <td>{{element.market_cap | currency:(element.currency | uppercase):'symbol':'4.0-0'}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="vl"></div>
                    <div class="adtv-aadtv">
                      <table>
                        <thead>
                          <tr>
                            <td></td>
                            <td>1</td>
                            <td>5</td>
                            <td>10</td>
                            <td>20</td>
                            <td>60</td>
                            <td>120</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>ADTV</td>
                            <td>{{element.adtv | number:'4.0-0'}}</td>
                            <td>{{element.adtv5 | number:'4.0-0'}}</td>
                            <td>{{element.adtv10 | number:'4.0-0'}}</td>
                            <td>{{element.adtv20 | number:'4.0-0'}}</td>
                            <td>{{element.adtv60 | number:'4.0-0'}}</td>
                            <td>{{element.adtv120 | number:'4.0-0'}}</td>
                          </tr>
                          <tr>
                            <td>AADTV</td>
                            <td>{{(element.aadtv | number:'4.0-0') || '- -'}}</td>
                            <td>{{(+element.aadtv5 | number:'4.0-0')  || '- -'}}</td>
                            <td>{{(+element.aadtv10 | number:'4.0-0') || '- -'}}</td>
                            <td>{{(+element.aadtv20 | number:'4.0-0') || '- -'}}</td>
                            <td>{{(+element.aadtv60 | number:'4.0-0') || '- -'}}</td>
                            <td>{{(+element.aadtv120 | number:'4.0-0') || '- -'}}</td>
                          </tr>
                        </tbody>
                      </table>              
                    </div>
                    <div class="vl"></div>
                    <div>
                      <button mat-stroked-button color="accent" class="viewChartsButton" (click)="openDetailsDialog(element.company_ticker)">
                        <div class="icon-text">
                          <span class="material-icons-round">
                            show_chart
                          </span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

















          <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data</td>
          </tr>



          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="50" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<!-- Mkt Cap filter menu -->
<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="mktCapFilter('reset');">
    <span>Reset</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('>200B');">
    <span>Mega (>200B)</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('10B-200B');">
    <span>Large (10B-200B)</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('2B-10B');">
    <span>Medium (2B-10B)</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('300M-2B');">
    <span>Small (300M-2B)</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('50M-300M');">
    <span>Micro (50M-300M)</span>
  </button>
  <button mat-menu-item (click)="mktCapFilter('<50M');">
    <span>Nano (<50M)</span>
  </button>
</mat-menu> -->